img.product-detail-image {
    background-color: #ddd;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

.product-detail-name {
    color: #555;
}

